/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Body */
body {
  background: #ebb5cb;
  padding: 10px;
}


.btn:active {
  background: #3e8e41;
}

/* Bottom Navigation */
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

nav a {
  text-decoration: none;
  color: #4CAF50;
  font-size: 14px;
}

/* Spacer for bottom nav */
.spacer {
  height: 70px;
}